<footer class="footer">
  <div class="container">
    <div class="text-center">
      <div class="row footer-row" style="justify-content: center;">
        <div class="social ">
          <a href="https://www.facebook.com/jitendra/"
             class="[ social-icon facebook ] animate" target="_blank"><span style="font-size: 30px;color: #f1f1f1; padding-left: 20px;" class="fa fa-facebook"></span></a>

          <a href="https://github.com/jitendra/"
             class="[ social-icon github ] animate" target="_blank"><span style="font-size: 30px;color: #f1f1f1; padding-left: 20px;" class="fa fa-github-alt"></span></a>

          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contact@jitendra.jjr"
             class="[ social-icon google-plus ] animate" target="_blank"><span style="font-size: 30px;color: #f1f1f1; padding-left: 20px;" class="fa fa-at"></span></a>

          <a href="https://www.linkedin.com/in/jitendrajosyula/"
             class="[ social-icon linkedin ] animate" target="_blank"><span style="font-size: 30px;color: #f1f1f1; padding-left: 20px;" class="fa fa-linkedin"></span></a>

          <a href="skype:jithendra93?chat"
             class="[ social-icon skype ] animate" target="_blank"><span style="font-size: 30px;color: #f1f1f1; padding-left: 20px;" class="fa fa-skype"></span></a>
        </div>

      </div>
      <br>

          <p class="text-muted footer-copyright">Copyright Ram Jitendra Josyula 2018 &copy; made with <a
            href="https://angular.io/" style="color: #f1f1f1;">Angular</a></p>



    </div>
  </div>
</footer>
