<!-- <video autoplay muted loop id="myVideo" #vid>
  <source src="/assets/video/For_Wes.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<!-- <div class="content">
  <h1>Heading</h1>
  <p>Lorem ipsum...</p>
  <!-- Use a button to pause/play the video with JavaScript -->
<!-- <button #btn id="myBtn" (click)="myFunction(vid,btn)" [innerHtml]="testhtml"></button> -->
<!-- </div> -->
<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <video autoplay loop class="fillWidth" muted id="myVideo" #vid>
      <source src="/assets/video/For_Wes.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.

    </video>
    <div class="content">
      <h1 style="display: flex;justify-content: center;">Looking for a developer?</h1>
      <pre style="text-align: center;">I am an innovative and a committed graduate with passion to have a growth oriented and challenging career in the domain
        of Software/Web Development to tone my experience and to utilize my programming skills through continuous learning
        and exploring new technologies.</pre>
      <a class="anchor" href="#skills" style="margin-left:50%;">
        <img src="/assets/arrow.gif" alt="" width="50px">
      </a>
      <!-- <button #btn id="myBtn" (click)="myFunction(vid,btn)" [innerHtml]="PAUSE" style="margin-left:40%;">PAUSE</button> -->
    </div>
  </div>
</div>